<h2>Добро пожаловать в Интернет магазин</h2>
<div class="row">
  <% @products.each do |product| %>
    <div class="col col-md-3">
      <div><p>Name: <%= product.product_name%></p></div>
      <div><p><img class="image__products" src="<%= product.path_to_image%>"></p></div>
      <div><p>Specification: <%= product.specification%></p></div>
      <div><p>Price: <%= product.product_price%> rub.</p></div>
      <div><p>Size: <%= product.product_size%></p></div>
      <div><p>Spicy: <%= product.is_spicy%></p></div>
      <div><p>Veg: <%= product.is_veg%></p></div>
      <div><p>Best offer: <%= product.is_best_offer%></p></div>
      <br>
      <button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Добавить в корзину</button>
    </div>
  <% end %>
</div>
<button type="button" class="btn btn-primary btn-sm" onclick="hellow_user()">Отправить</button>
<%# <button type="button" class="btn btn-primary btn-sm">Small button</button> %>

<%# <script type="text/javascript"></script>

<script>
  $(function () {
    input_update_orders();
    buttons_update_orders();
  })
</script> %>