<h2>Добро пожаловать в Интернет магазин</h2>
<div class="row">
  <% @products.each do |p| %>
    <div class="col col-md-3">
      <div><p>Name: <%= p.product_name%></p></div>
      <div><p><img class="image__products" src="<%= p.path_to_image%>"></p></div>
      <div><p>Specification: <%= p.specification%></p></div>
      <div><p>Price: <%= p.product_price%> rub.</p></div>
      <div><p>Size: <%= p.product_size%></p></div>
      <div><p>Spicy: <%= p.is_spicy%></p></div>
      <div><p>Veg: <%= p.is_veg%></p></div>
      <div><p>Best offer: <%= p.is_best_offer%></p></div>
      <br>
      <button type="button" class="btn btn-success btn-sm">Добавить в корзину</button>
    </div>
  <% end %>
</div>
<button type="button" class="btn btn-primary btn-sm" onclick="hellow_user()">Отправить</button>
<%# <button type="button" class="btn btn-primary btn-sm">Small button</button> %>